In [1]:
#string values

a = 830
b = 831
c = 782

if a>= b: print ("its done")
else : print ("long way to go")

long way to go

In [1]:
#string values

a = 783
b = 831
c = 783

if a>c : print ("a is superior to c")
if a==c : print ("a is equal to c")
if a<b : print ("a is inferior to b")
if b>c : print ("b is superior to c")
else : print ("nothing else matters")

a is equal to c
a is inferior to b
b is superior to c

In [ ]:
#string values

a = 7
b = 6
c = 8

if a>c : print ("a is superior to c")
if a==c : print ("a is equal to c")
if a<b : print ("a is inferior to b")
if b>c : print ("b is superior to c")
else : print ("nothing else matters")

In [22]:
#string values

a = 783
b = 831
c = 783

if a>c : print ("a is superior to c")
elif a==c : print ("a is equal to c")
elif a<b : print ("a is inferior to b")
elif b>c : print ("b is superior to c")
else : print ("nothing else matters")

a is equal to c

In [3]:
#string values
x = 15

if x > 10:
    print("Above ten,")
    if x > 20:
        print("and also above 20!")
        if x > 50:
            print("90")
        else:
            print('not 90')
    else:
        print("but not above 20.")
else:
    print("Nothing is true")

Above ten,
but not above 20.

In [ ]:
a = 40
b = 831
c = 783

if a>=b : print ("pass")
else : print ("fail")

In [ ]:
x = 4
while x <= 40 : 
    print (x)
x = x + 4

In [10]:
x = 5.2
y = 3

print (x/y)
print (x//y)
abs (-456)

1.7333333333333334
1.0

456

In [2]:
round (3.7856454 ,2)
import math
math.ceil (5.4)

6

In [4]:
100%3

1

In [9]:
s = 120
while s <= 10000 :
    print (s)
    s = s * 2

120
240
480
960
1920
3840
7680

In [18]:
#statement

First_name='Harry'
Last_name='Sengupta'

print('Hello,I Am {} {}'.format(First_name,Last_name))

Hello,I Am Harry Sengupta

In [26]:
#Variable declaring

first_name = 'Nidhi' 
middle_name = 'sengupta'
last_name = 'prasad'

print("my name is {0} {1} {2}.".format(first_name,middle_name,last_name))

my name is Nidhi sengupta prasad.

In [40]:
fn= 'Joy'
age= 33

print(f'my name is {fn}. I am {age} years old.')

my name is 0. I am 1 years old.

In [50]:
x = 'movie'
x.capitalize()
x.lower()
x.upper()

'MOVIE'

In [56]:
x= ("harry", "ron", "hermione")
x = "".join(x)
print(x)

harryronhermione

In [58]:
x = ("peter parker")
len(x)

12

In [64]:
s = "harry potter is a wizard"
s.find("harry")

0

In [7]:
x = 9
if ('x%3 = 0'):
      print ("x is divisble by 3")
else :
       print ("x is not divisible by 3")

x is divisble by 3

In [13]:
x = "   chandan is a good boy"
x.split(" ")

['', '', '', 'chandan', 'is', 'a', 'good', 'boy']

In [15]:
y = 34
if y >= 30:
    print ("y is greater or equal to 30")
elif y < 40 :
    print ("and y is between 30 and 40")
else :
    print ("nothing is true")

y is greater or equal to 30

In [1]:
d = 20
while d <= 2000:
    print (d)
    d = d*10

20
200
2000

In [15]:
for x in range (1, 200):
    print(x)
     if (x == 140):
        break

IndentationError: unexpected indent (<ipython-input-15-21eddf5750db>, line 3)

In [1]:
print (2*4**3/2)

64.0

In [20]:
x = "Harry Potter"
print(x[0:5])

SyntaxError: invalid syntax (<ipython-input-20-0b164931f5f4>, line 2)

In [3]:
a = " hello lord"
print(a[0:5])

 hell

In [14]:
a = 20
a +=15
a -= 15
a *= 15
print (a)

300

In [2]:
a=(5!=15)
print(a)

True

In [22]:
a = 2
b = 5
c = 10

((a<b and a<c))

True

In [26]:
a = 6
b = 7
if (type(a) is not int):
    print ("correct")
    
else :
     print ("incorrect")

incorrect

In [52]:
x = [8,3,5,16,"harry"]
a = 8
b = 10
c = "harry"

print (a in x)
print (b not in x)
print (c in x)

True
True
True

In [ ]:
2**3